.navbar{
	
	background-color: rgba(211,211,211,0.6);!important;
	border: 1px solid blue;
	padding: 0.75em;
}
a{
	color: blue!important;
	font-weight: bold;
}
/*jumbotron*/
.jumbotron {
	background-image: url("../images/pexels-photo-205321.jpg");
	 background-size: cover;
	background-position: center;
	height: 700px;
	border: 8px solid blue;
	position: relative;
}
.jumbotron h1{
  font-family: "Monoton";
  font-size: 6em;
  color: black;
  text-shadow: 2px 1px red;
}

.jumbotron p{
  width: 70%;
  margin: 0 auto;
}
.container{
	background-image: url();
}
span.blue{
	color: orange;
}
#banner{
	position: absolute;
	top: 500px;
	left: 600px;
}
/*end of jumbotron*/
/*gallary*/
 .container-fluid{
 	margin: 0 auto;
 	border: 1px solid green;
 }
 .row{
 	border: 1px solid orange;
 	margin: 0 auto;
 	padding: 1em;
 }
 .card{
 	width:30%;
 	height: auto;
 	padding: 0.75em;
 	margin: 0 auto;
 	border-radius: 1em;
 }
 .card img{
  opacity: 0.7;
  max-width: 100%;
  height: auto;
  transition: .5s transform,
              .5s opacity;
}

.card img:hover{
  opacity: 1;
  transform: scale(1.1);
}
/*end of gallary*/
/*footer*/
.wrapper{
	
	text-align: center;

}
footer{
	background-color: black!important;
}
footer p{
	text-align: center;
}
/*end of footer*/
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
section#validation 
{
	background-color: grey!important;
	border: 1px solid green;
}


/*form input.form-control { 
  border:1px solid green;
  border-radius:0px; 
}


Header 
.header {
  text-align: center;
  margin-bottom: 50px;
}

.header .container {
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}


.main {
  margin: 80px 0;

}

.main h1 {
  font-size: 30px;
  margin: 0 0 20px 0;
}*/

 Form */
form input.form-control { 
  border:0px;
  border-radius:0px; 
}

.main .btn { 
  margin-top:30px; 
  color:#fff;
  background:rgba(0,240,190,0.25);
  border:0px;
  border-radius:0px; 
}

.first-name-error,
.last-name-error,
.email-error,
.password-error {
  color: #dd4b39;
  font-weight: 600;
}
button.btn {
  background: transparent;
  border: none;
  color: #00f28f;
  cursor: pointer;
  font-size: 36px;
  padding: 20px 24px;
  transition: background 2s, color 1s;
}

button.btn:hover {
  background: #00f28f;
  color: #fff;
  transition: background 2s, color 1s;
}

/* Footer */
/* Google map */
#map{
	
	height:600px;
}
/*project*/
.skillset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-html {
  background-color: #E55126;
}

.skill-js {
  background-color: #E5A227;
}
.projects-button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  margin: 1em 0;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}
.notification.work { 
  color: #ffd400;
 
  text-shadow: 0 0 10px #ffd400;
} 