*{
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
  color: #334d4d;

}
h1, h4,h5{
  text-align: center;
  }

p{
color:#4c5462;
}
/* =====================================
1. navbar start
===================================== */

.navbar{
  background-color: rgb(173, 235, 235)!important;
	}
a{
	font-weight: bold;
  font-size: 1.2em;
}
/* =====================================
2. Start of Jumbotron
===================================== */

/*jumbotron*/
.jumbotron {
	background-image: url("../images/img_1.jpg") ;
	 background-size: cover;
	background-repeat: no-repeat;
	height:35rem;
	position: relative;
}
 .container h1{
   padding-top:5rem;
   color:white;
   font-size: 5rem;
}
.container h4 i.fa{
  padding-top: 1rem;
  
}
#banner{
	position: absolute;
	top:70%;
	left:48%;
 
}
.folder{
  padding:5% 0 5% 0;
  border-bottom: 1px solid #d6d6c2;
}
/* =====================================
3. Start of course
===================================== */
.courseName i.fa{
  color:rgb(51, 204, 204)!important;
}
/* =====================================
4. PRICING TABLE AREA
===================================== */

#pricing-table-area {
    background: rgba(0, 0, 0, 0) url("img/bg/4.jpg") no-repeat scroll center center / cover;
}
.single-price-table {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.single-price-table:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.doller-sign {
    font-size: 18px;
    bottom: 0;
}
.duration {
    color: #4c5462;
    font-size: 12px;
    font-weight: 400;
    bottom: 0;
    text-transform: capitalize;
}
.plan-title {
   /* color: #fff;*/
   color:blue;
   background: rgb(51, 153, 255);
   border: 1px solid grey;
    font-weight: 700;
    /*letter-spacing: 5px;*/
    margin: 0;
    padding: 20px 0;
}
.price-value {
    margin: 0;
    padding: 20px 0;
}
.pricing-content {
    padding: 40px 0;
}
.table-content li {
    color: #4c5462;
    margin-bottom: 15px;
    list-style: none;
}
.table-content li:last-child {
    margin-bottom: 0;
}
.pricing-footer {
    padding: 20px 0 30px;
    position: relative;
    z-index: 1;
}
.pricing-footer .btn-grad:before {
  background: #fff none repeat scroll 0 0;
}
.pricing-footer .btn-grad:hover:before {
    background: transparent none repeat scroll 0 0;
}
.pricing-footer .btn {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.pricing-footer a:hover {
    color: #000;
}
.pricing-footer:after {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.pricing-footer:before {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(87, 112, 110) 0%, rgb(51, 204, 204) 100%) repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.single-price-table:hover .pricing-footer:before {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.single-price-table:hover .btn.btn-bordered-grad:after {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.single-price-table:hover .price-value {
    color: #00c9fd;
}
.single-price-table:hover .pricing-footer p, .single-price-table:hover .pricing-footer a {
    color: #fff;
}
/*end of pricing plan*/
/* =====================================
5. Start of statistics
===================================== */

.circle{
  width:4rem;
  height:4rem;
  border-radius: 50%;
  border: 1px solid blue;
  /*text-align: center;*/
  margin: 0 auto;
  /*padding:5%;*/
}
i.fa.circle{
  padding-top: 4%;
  border: 1px solid pink;
}
.folder{
  padding: 5% 0 5% 0;
}
.section-heading h1{
  color: black;
  font-size: 2rem;
  padding-bottom: 2%;
  text-transform: uppercase;
}
.circle:hover,.courseName i.fa:hover{
  background:rgba(0, 0, 0, 0) linear-gradient(to right, rgb(0, 153, 153) 0%, rgb(51, 255, 255)100%) repeat scroll 0 0; 
  transition: all 1s ease;
}
/*end of statistics*/
/* =====================================
6. Start of events
===================================== */

 .grad img{
  width:100%;
 }
 .grad h5{
  padding-top: 5%;
  color:  #4d4d4d;
 }
 /*end of events*/
 /* =====================================
7. Start of testimonial
===================================== */
.client-image img{
  width:100%;
}
.client-testimonial h3{
  font-size: 1.4rem;
  padding-top: 5%;

}
span.roll {
    background:url(../images/mag.png) center center no-repeat #000;
    background:url(../images/mag.png) center center no-repeat #000;
    height: 275px;
    position: absolute;
    width: 95%;
    margin: 0 auto;
    z-index: 10;  
  -webkit-box-shadow: 0px 0px 4px #000;
  -moz-box-shadow: 0px 0px 4px  #000;
  box-shadow: 0px 0px 4px  #000; 
} 
/* =====================================
8. form validation(left side)
===================================== */
#validation{
  background-color: rgb(210, 208, 242);
}

form input.form-control { 
  border:0px;
  border-radius:0px; 
}

.main .btn { 
  margin-top:30px; 
  color:#fff;
  background:rgba(0,240,190,0.25);
  border:0px;
  border-radius:0px; 
}

.first-name-error,
.last-name-error,
.email-error,
.password-error {
  color: #dd4b39;
  font-weight: 600;
}
button.btn {
  background: transparent;
  border: none;
  color: #00f28f;
  cursor: pointer;
  font-size: 36px;
  padding: 20px 24px;
  transition: background 2s, color 1s;
}

button.btn:hover {
  background: #00f28f;
  color: #fff;
  transition: background 2s, color 1s;
}
/* =====================================
8. right side of Google map
===================================== */

#map{
	width:100%;
	height:600px;
  /*border: 1px solid yellow;*/
  padding: 0;
  margin: 0;
}
.google{
    margin: 0;
}
/* =====================================
9. start of footer
===================================== */
footer{
  background-color:  #e6f7ff;
  color: #0077b3;
}

.wrapper{
    text-align: center;
}

.end{
  text-align: center;

}
/*end of footer*/
/* =====================================
9. start of media query
===================================== */

@media only screen and (max-width: 480px){
  body,html{
    font-size: 16px;
  }
  /*jumbootron*/
  .jumbotron{
    width: 100%;
    height: 25rem;
    margin-top: 4rem;
  }
  #banner{
    top:80%;
   left:45%;
  }
  .container h1{
    font-size: 3rem;
    padding-top: 10%;
     }
  .container h4 i.fa{
  padding-top: 1rem;
  
}
  .section-heading h1{
    font-size: 1.5rem;
  }
   .sub-heading-2 h4{
  font-size: 1.2rem;
   }
  .alert{
    margin-top: 0;
  }
 
/*footer section*/
  .wrapper h5:nth-child(5){
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

}
@media only screen and (min-width:481px) and (max-width: 768px){
  body,html{
    font-size: 20px;
  }
  /*jumbootron*/
  .jumbotron{
    width: 100%;
    height: 35rem;
     }
  #banner{
    top:85%;
 left:45%;
  }
  
  .section-heading h1{
    font-size: 1.4rem;
  }
   .sub-heading-2 h4{
  font-size: 1.2rem;
   }
  .alert{
    margin-top: 0;
  }
  
 
}